# Pokemon

### Step 1. 필요한 라이브러리 들을 import 하세요

In [5]:
import pandas as pd
import numpy as np

### Step 2. 다음과 같은 dictionary를 생성하세요

In [6]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. pokemon이라는 변수에 DataFrame 을 할당하세요

In [7]:
pokemon = pd.DataFrame(raw_data)
pokemon

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. DataFrame 열이 알파벳 순서로 되어있습니다. name, type, hp, evolution, pokedex 의 순서로 column을 배치하세요

In [8]:
pokemon = pokemon[["name","type","hp","evolution","pokedex"]]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

### Step 5. "place" column을 만들고 ['park','street','lake','forest'] 순서로 할당하세요

In [9]:
pokemon["place"] = ['park','street','lake','forest']
pokemon

/var/folders/c2/h79928n92258kzkwtzbxjbj80000gn/T/ipykernel_18240/3575463676.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pokemon["place"] = ['park','street','lake','forest']

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

### Step 6. 각 column의 datatype을 확인해보세요

In [10]:
pokemon.dtypes

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object