# Iris

### Step 1. 필요한 라이브러리 들을 import 하세요

In [1]:
import numpy as np
import pandas as pd

### Step 2.  다음 주소의 파일을 import 하세요 [address](https://raw.githubusercontent.com/myoh0623/dataset/main/iris.data).

### Step 3. iris 라는 변수에 DataFrame 을 할당하세요

In [18]:
url = 'https://raw.githubusercontent.com/myoh0623/dataset/main/iris.data'
iris = pd.read_csv(url)
iris

### Step 4. 다음과 같은 순서로 columns을 만드세요

In [20]:
iris.columns = ["sepal_length","sepal_width","petal_length","petal_width","class"]
iris

#pd.DataFrame(iris,
 #                   columns=["sepal_length","sepal_width","petal_length","petal_width","class"])
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class

     sepal_length  sepal_width  petal_length  petal_width           class
0             4.9          3.0           1.4          0.2     Iris-setosa
1             4.7          3.2           1.3          0.2     Iris-setosa
2             4.6          3.1           1.5          0.2     Iris-setosa
3             5.0          3.6           1.4          0.2     Iris-setosa
4             5.4          3.9           1.7          0.4     Iris-setosa
..            ...          ...           ...          ...             ...
144           6.7          3.0           5.2          2.3  Iris-virginica
145           6.3          2.5           5.0          1.9  Iris-virginica
146           6.5          3.0           5.2          2.0  Iris-virginica
147           6.2          3.4           5.4          2.3  Iris-virginica
148           5.9          3.0           5.1          1.8  Iris-virginica

[149 rows x 5 columns]

### Step 5. 데이터 프레임의 각컬럼 마다 누락된 값이 존재 합니까?

In [37]:
pd.isnull(iris).sum()

index           0
sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
dtype: int64

### Step 6. 'petal_length' 열의 10~29행 값을 `NaN`으로 설정하세요

In [25]:
iris.petal_length[10:30] = np.nan
#iris.lioc[10:30,2] = np.nan

    sepal_length  sepal_width petal_length  petal_width        class
5            4.6          3.4          1.4          0.3  Iris-setosa
6            5.0          3.4          1.5          0.2  Iris-setosa
7            4.4          2.9          1.4          0.2  Iris-setosa
8            4.9          3.1          1.5          0.1  Iris-setosa
9            5.4          3.7          1.5          0.2  Iris-setosa
10           4.8          3.4          NaN          0.2  Iris-setosa
11           4.8          3.0          NaN          0.1  Iris-setosa
12           4.3          3.0          NaN          0.1  Iris-setosa
13           5.8          4.0          NaN          0.2  Iris-setosa
14           5.7          4.4          NaN          0.4  Iris-setosa
15           5.4          3.9          NaN          0.4  Iris-setosa
16           5.1          3.5          NaN          0.3  Iris-setosa
17           5.7          3.8          NaN          0.3  Iris-setosa
18           5.1          3.8          NaN          0.3  Iris-setosa
19           5.4          3.4          NaN          0.2  Iris-setosa
20           5.1          3.7          NaN          0.4  Iris-setosa
21           4.6          3.6          NaN          0.2  Iris-setosa
22           5.1          3.3          NaN          0.5  Iris-setosa
23           4.8          3.4          NaN          0.2  Iris-setosa
24           5.0          3.0          NaN          0.2  Iris-setosa
25           5.0          3.4          NaN          0.4  Iris-setosa
26           5.2          3.5          NaN          0.2  Iris-setosa
27           5.2          3.4          NaN          0.2  Iris-setosa
28           4.7          3.2          NaN          0.2  Iris-setosa
29           4.8          3.1          NaN          0.2  Iris-setosa
30           5.4          3.4          1.5          0.4  Iris-setosa
31           5.2          4.1          1.5          0.1  Iris-setosa
32           5.5          4.2          1.4          0.2  Iris-setosa
33           4.9          3.1          1.5          0.1  Iris-setosa
34           5.0          3.2          1.2          0.2  Iris-setosa
35           5.5          3.5          1.3          0.2  Iris-setosa
36           4.9          3.1          1.5          0.1  Iris-setosa
37           4.4          3.0          1.3          0.2  Iris-setosa
38           5.1          3.4          1.5          0.2  Iris-setosa
39           5.0          3.5          1.3          0.3  Iris-setosa

### Step 7. `NaN` 값을 1.0 으로 대체 하세요

In [29]:
iris["petal_length"] = iris["petal_length"].fillna(1)
iris[5:40]

    sepal_length  sepal_width  petal_length  petal_width        class
5            4.6          3.4           1.4          0.3  Iris-setosa
6            5.0          3.4           1.5          0.2  Iris-setosa
7            4.4          2.9           1.4          0.2  Iris-setosa
8            4.9          3.1           1.5          0.1  Iris-setosa
9            5.4          3.7           1.5          0.2  Iris-setosa
10           4.8          3.4           1.0          0.2  Iris-setosa
11           4.8          3.0           1.0          0.1  Iris-setosa
12           4.3          3.0           1.0          0.1  Iris-setosa
13           5.8          4.0           1.0          0.2  Iris-setosa
14           5.7          4.4           1.0          0.4  Iris-setosa
15           5.4          3.9           1.0          0.4  Iris-setosa
16           5.1          3.5           1.0          0.3  Iris-setosa
17           5.7          3.8           1.0          0.3  Iris-setosa
18           5.1          3.8           1.0          0.3  Iris-setosa
19           5.4          3.4           1.0          0.2  Iris-setosa
20           5.1          3.7           1.0          0.4  Iris-setosa
21           4.6          3.6           1.0          0.2  Iris-setosa
22           5.1          3.3           1.0          0.5  Iris-setosa
23           4.8          3.4           1.0          0.2  Iris-setosa
24           5.0          3.0           1.0          0.2  Iris-setosa
25           5.0          3.4           1.0          0.4  Iris-setosa
26           5.2          3.5           1.0          0.2  Iris-setosa
27           5.2          3.4           1.0          0.2  Iris-setosa
28           4.7          3.2           1.0          0.2  Iris-setosa
29           4.8          3.1           1.0          0.2  Iris-setosa
30           5.4          3.4           1.5          0.4  Iris-setosa
31           5.2          4.1           1.5          0.1  Iris-setosa
32           5.5          4.2           1.4          0.2  Iris-setosa
33           4.9          3.1           1.5          0.1  Iris-setosa
34           5.0          3.2           1.2          0.2  Iris-setosa
35           5.5          3.5           1.3          0.2  Iris-setosa
36           4.9          3.1           1.5          0.1  Iris-setosa
37           4.4          3.0           1.3          0.2  Iris-setosa
38           5.1          3.4           1.5          0.2  Iris-setosa
39           5.0          3.5           1.3          0.3  Iris-setosa

### Step 8. class column을 삭제해 보세요

In [30]:
del iris['class']
iris

     sepal_length  sepal_width  petal_length  petal_width
0             4.9          3.0           1.4          0.2
1             4.7          3.2           1.3          0.2
2             4.6          3.1           1.5          0.2
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[149 rows x 4 columns]

### Step 9. 처음 3개 행을 NaN으로 설정하세요

In [32]:
iris.iloc[0:3] = np.nan
iris.head()

   sepal_length  sepal_width  petal_length  petal_width
0           NaN          NaN           NaN          NaN
1           NaN          NaN           NaN          NaN
2           NaN          NaN           NaN          NaN
3           5.0          3.6           1.4          0.2
4           5.4          3.9           1.7          0.4

### Step 10. NaN값이 있는 행을 삭제 하세요

In [33]:
iris = iris.dropna()
iris

     sepal_length  sepal_width  petal_length  petal_width
3             5.0          3.6           1.4          0.2
4             5.4          3.9           1.7          0.4
5             4.6          3.4           1.4          0.3
6             5.0          3.4           1.5          0.2
7             4.4          2.9           1.4          0.2
..            ...          ...           ...          ...
144           6.7          3.0           5.2          2.3
145           6.3          2.5           5.0          1.9
146           6.5          3.0           5.2          2.0
147           6.2          3.4           5.4          2.3
148           5.9          3.0           5.1          1.8

[146 rows x 4 columns]

### Step 11. index 를 0 부터 시작하도록 reset하세요

In [35]:
iris = iris.reset_index()
iris

     index  sepal_length  sepal_width  petal_length  petal_width
0        3           5.0          3.6           1.4          0.2
1        4           5.4          3.9           1.7          0.4
2        5           4.6          3.4           1.4          0.3
3        6           5.0          3.4           1.5          0.2
4        7           4.4          2.9           1.4          0.2
..     ...           ...          ...           ...          ...
141    144           6.7          3.0           5.2          2.3
142    145           6.3          2.5           5.0          1.9
143    146           6.5          3.0           5.2          2.0
144    147           6.2          3.4           5.4          2.3
145    148           5.9          3.0           5.1          1.8

[146 rows x 5 columns]